static/our_gif/results.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/video.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/vase_appearance.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/video1.mp4 filter=lfs diff=lfs merge=lfs -text
