static/our_gif/results.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/video.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/vase_appearance.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/video1.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/angel_appearance1.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/chess_geometry.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/tulip_geometry.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/vase_geometry.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/vase_geometry1.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/angel_geometry1.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/tulip_appearance1.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/tulip_geometry1.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/vase_appearance1.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/chess_appearance.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/chess_appearance1.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/results1.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/angel_appearance.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/angel_geometry.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/chess_geometry1.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/tulip_appearance.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/pancakes_appearance1.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/pancakes_geometry1.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/army_appearance1.mp4 filter=lfs diff=lfs merge=lfs -text
static/our_gif/army_geometry1.mp4 filter=lfs diff=lfs merge=lfs -text
